* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    font-family: Luxia, Fallback, sans-serif;
    color: #222224;
    //color: #55565b;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.show {
    display: block;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:visited {
        color: #222224;
    }
}

.page-404 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
        display: inline-block;
        padding-bottom: 300px;
    }
}

h1 {
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

ul {
    list-style: none;
}

@media (min-width: 1200px) {
    .hidden-xl {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .hidden-lg {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: none;
        padding: 0 15px;
    }

    .hidden-xs {
        display: none !important;
    }
}
