.contact {
    margin-top: 80px;

    label.Mui-focused:not(.Mui-error) {
        color: #4eadfc;
    }

    .MuiInput-underline:after {
        border-bottom-color: #4eadfc;
    }

    .MuiOutlinedInput-root {
        &.Mui-focused:not(.Mui-error) fieldset {
            border-color: #4eadfc;
        }
    }
}

.contact-form-popup {
    font-family: $font-alt;
    position: fixed;
    text-align: center;
    width: 460px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    z-index: 100;
    transition: 0.2s all;

    &.closed {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }

    .popup-inner {
        .popup-close {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;

            &:hover,
            &:focus {
                cursor: pointer;
            }

            img {
                width: 20px;
                height: 22px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .email-icon {
            margin-top: 65px;
            margin-bottom: 30px;

            img {
                width: 90px;
                height: 90px;
            }
        }

        h2 {
            margin-bottom: 15px;

            & + p {
                margin-bottom: 100px;
            }
        }

        .home-link {
            margin-bottom: 50px;

            a {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
                background-color: #4eadfc;
                border-radius: 50%;
                z-index: 10;
                &:after,
                &:before {
                    content: "";
                    width: 105px;
                    height: 105px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #4eaefc85;
                    border-radius: 50%;
                    z-index: 1;
                }

                &:after {
                    width: 120px;
                    height: 120px;
                    background-color: #4eaefc7a;
                }

                img {
                    position: absolute;
                    width: 24px;
                    height: 22px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 100;
                }
            }
        }
    }
}

.popup-overlay {
    position: fixed;
    text-align: center;
    font-family: $font-alt;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s all;
    z-index: 90;

    &.closed {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 768px) {
    .contact {
        text-align: center;

        & > div {
            display: inline-block;
            text-align: left;
            width: 680px;
        }
    }
}

@media (min-width: 577px) and (max-width: 767px) {
}

@media (max-width: 576px) {
    .contact-form-popup {
        .popup-inner {
            width: calc(100vw - 30px);
        }
    }
}
