.my-work {
    height: 3000px;

    .buttons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0 15px;
        }
    }
}
