.button {
    display: inline-block;
    width: auto;
    height: 55px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 51px;
    padding: 0 50px;
}

.primary-button {
    background-color: #ffffff;
    color: #4eadfc;
    border: 3px solid #4eadfc;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &.active,
    &.alt {
        background-color: #4eadfc;
        color: #ffffff;
        cursor: pointer;
    }

    &.alt {
        &:hover,
        &:focus {
            background-color: #ffffff;
            color: #4eadfc;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
